<!DOCTYPE html>
<html>
    <head>
        <title>테스트 파일입니다.</title>
        <link rel="stylesheet" href="../../../../css/test/test1.css" />
    </head>
    <body>
        <header>
            <span>
                <i>Logo-</i>
                <span>Names</span>
            </span>
            <nav>
                <ol>
                    <li>Test1</li>
                    <li>Test2</li>
                    <li>Test3</li>
                    <li>Test4</li>
                </ol>
            </nav>
        </header>
        <main>
            <section>
                <p>메인섹션_1</p>
                <article>Test1</article>
            </section>
            <section>
                <p>메인섹션_2</p>
                <article>Test1</article>
            </section>
            <section>
                <p>메인섹션_3</p>
                <article>Test1</article>
            </section>
        </main>
        <footer>
            <p>테스트 문구입니다.</p>
        </footer>
    </body>
</html>
